<div class="jumbotron">
  <% if user_signed_in? %>
     <h1>Draw something using my built in drawing app!</h1><br>
     <h2>Just click on "New Listing".</h2>
  <% else %>
    <h1>Design your own video game<br>
    characters and make money selling them!</h1>
    <h2>The only thing that you have to do is just signup</h2>
  <% end %>
</div>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @listings %>
    </div>
    <%= will_paginate @listings, :container => false %>
  </div>

<%= form_tag listings_path, method: :get do %>
  <%= text_field_tag :name, "" %>
  <div class="dropdown"><button class="dropbtn"><%= submit_tag 'Search By Name Of Listing' %></button></div>
<% end %>

<div class="dropdown">
  <button class="dropbtn"><%= link_to 'Search By User', users_path, class: "dropdown", data: { no_turbolink: true } %></button>
</div>

<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
        <%= link_to image_tag(listing.image.url), listing %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency(listing.price) %></p>
            <p><%= "Sold by #{listing.user.name}" %></p>
          </div>
      </div>  
      </div>
    <% end %>
</div>
</div>

<br>

<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link", data: { no_turbolink: true } %>
<% end %>