<p id="notice"><%= notice %></p>

<h1>Spaceshootergames</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Ship</th>
      <th>Enemy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spaceshootergames.each do |spaceshootergame| %>
      <tr>
        <td><%= spaceshootergame.user %></td>
        <td><%= spaceshootergame.ship %></td>
        <td><%= spaceshootergame.enemy %></td>
        <td><%= link_to 'Show', spaceshootergame %></td>
        <td><%= link_to 'Edit', edit_spaceshootergame_path(spaceshootergame) %></td>
        <td><%= link_to 'Destroy', spaceshootergame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spaceshootergame', new_spaceshootergame_path %>
