<p id="notice"><%= notice %></p>

<h1>Tictactoegames</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Xs</th>
      <th>Os</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tictactoegames.each do |tictactoegame| %>
      <tr>
        <td><%= tictactoegame.user %></td>
        <td><%= tictactoegame.xs %></td>
        <td><%= tictactoegame.os %></td>
        <td><%= link_to 'Show', tictactoegame %></td>
        <td><%= link_to 'Edit', edit_tictactoegame_path(tictactoegame) %></td>
        <td><%= link_to 'Destroy', tictactoegame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tictactoegame', new_tictactoegame_path %>
