<%= form_for(obstacledodgergame) do |f| %>
  <% if obstacledodgergame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(obstacledodgergame.errors.count, "error") %> prohibited this obstacledodgergame from being saved:</h2>

      <ul>
      <% obstacledodgergame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dodgerimage %>
     <%= collection_select(:obstacledodgergame, :dodgerimage , Order.all.where(buyer: current_user), :listing_id, :id) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
