<p id="notice"><%= notice %></p>

<h1>Obstacledodgergames</h1>

<table>
  <thead>
    <tr>
      <th>Dodgerimage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @obstacledodgergames.each do |obstacledodgergame| %>
      <tr>
        <td><%= obstacledodgergame.dodgerimage %></td>
        <td><%= link_to 'Show', obstacledodgergame %></td>
        <td><%= link_to 'Edit', edit_obstacledodgergame_path(obstacledodgergame) %></td>
        <td><%= link_to 'Destroy', obstacledodgergame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Obstacledodgergame', new_obstacledodgergame_path %>

<div class="center">
  <div class="fb-like" data-href="https://aarongeoffreygrantetsydemoapp.herokuapp.com/" data-layout="box_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
</div>
