<p id="notice"><%= notice %></p>

<p>
  <strong>Dodgerimage:</strong>
  <%= render 'gamesales' %>
  <%= @obstacledodgergame.dodgerimage %>
</p>

<%= link_to 'Edit', edit_obstacledodgergame_path(@obstacledodgergame) %> |
<%= link_to 'Back', obstacledodgergames_path %>
