<%= form_for(spaceshooter) do |f| %>
  <% if spaceshooter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spaceshooter.errors.count, "error") %> prohibited this spaceshooter from being saved:</h2>

      <ul>
      <% spaceshooter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Game %>
    <%= f.text_field :Game %>
  </div>

  <div class="field">
    <%= f.label :playership %>
    <%= collection_select(:spaceshooter, :playership, Order.all.where(buyer: current_user), :listing_id, :id) %>
  </div>

  <div class="field">
    <%= f.label :enemyships %>
    <%= collection_select(:spaceshooter, :enemyships, Order.all.where(buyer: current_user), :listing_id, :id) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
