<p id="notice"><%= notice %></p>

<h1>Spaceshooters</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>User</th>
      <th>Playership</th>
      <th>Enemyships</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spaceshooters.each do |spaceshooter| %>
      <tr>
        <td><%= spaceshooter.Game %></td>
        <td><%= spaceshooter.user %></td>
        <td><%= spaceshooter.playership %></td>
        <td><%= spaceshooter.enemyships %></td>
        <td><%= link_to 'Show', spaceshooter %></td>
        <td><%= link_to 'Edit', edit_spaceshooter_path(spaceshooter) %></td>
        <td><%= link_to 'Destroy', spaceshooter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spaceshooter', new_spaceshooter_path %>
