<h1>New Conversation</h1>

<h2>Select the user that you want to send a message to.
you can send messages to multiple users by holding down on the shift button and clicking on muliple users.
Press the submit button to send.</h2>

<%= form_tag conversations_path, method: :post do %>
    <div>
        <%= select_tag :user_ids, options_from_collection_for_select(@recipients, :id, :name), multiple: true %>
    </div>

    <div>
     <%= text_field_tag :subject, nil, placeholder: "Subject" %>
    </div>

    <div>
     <%= text_area_tag :body, nil, placeholder: "Leave a comment" %>
    </div>

    <%= submit_tag %> 
    <% end %> 