<h1>All Artwork Made By: <%= @user.name %><%= image_tag @user.image + "?type=large" %></h1>
<div class="center">
  <div class="row">
    <% @user_listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
        <%= link_to image_tag(listing.image.url), listing_path(listing) %>
          <div class="caption">
            <h3><%= listing.name %></h3>
          </div>
      </div>  
      </div>
    <% end %>
</div>
</div>

<%= link_to 'Back', users_path, class: "btn btn-link" %>

<div class="dropdown">
  <% unless current_user == @user %>
  <button class="dropbtn"><h2><%= link_to "Click Here Send #{@user.name} A Message", new_conversation_path(to: @user.id) %></h2></button>
  <% end %>
</div>