<%= form_for(tictacto) do |f| %>
  <% if tictacto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tictacto.errors.count, "error") %> prohibited this tictacto from being saved:</h2>

      <ul>
      <% tictacto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Game %>
    <%= f.text_field :Game %>
  </div>

  <div class="field">
    <%= f.label :xs %>
     <%= collection_select(:tictacto, :xs, Order.all.where(buyer: current_user), :listing_id, :id) %>
  </div>

  <div class="field">
    <%= f.label :os %>
     <%= collection_select(:tictacto, :os, Order.all.where(buyer: current_user), :listing_id, :id) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
