<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @tictacto.Game %>
</p>

<p>
  <strong>User:</strong>
  <%= @tictacto.user %>
</p>

<% if current_user == @tictacto.user %>
<%= render 'tictactoegame' %>
<% end %>

<p>
  <strong>Xs:</strong>
  <%= @tictacto.xs %>
</p>

<p>
  <strong>Os:</strong>
  <%= @tictacto.os %>
</p>

<%= link_to 'Edit', edit_tictacto_path(@tictacto) %> |
<%= link_to 'Back', tictactoes_path %>
