<%= form_for(platformgame) do |f| %>
  <% if platformgame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(platformgame.errors.count, "error") %> prohibited this platformgame from being saved:</h2>

      <ul>
      <% platformgame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :player %>
     <%= collection_select(:platformgame, :player, Order.all.where(seller: current_user), :listing_id, :id) %>
  </div>

   <div class="field">
    <%= f.label :playerdies %>
     <%= collection_select(:platformgame, :playerdies, Order.all.where(seller: current_user), :listing_id, :id) %>
  </div>

   <div class="field">
    <%= f.label :playerbeatslevel %>
     <%= collection_select(:platformgame, :playerbeatslevel, Order.all.where(seller: current_user), :listing_id, :id) %>
  </div>

   <div class="field">
    <%= f.label :coin %>
     <%= collection_select(:platformgame, :coin, Order.all.where(seller: current_user), :listing_id, :id) %>
  </div>

   <div class="field">
    <%= f.label :lava %>
     <%= collection_select(:platformgame, :lava, Order.all.where(seller: current_user), :listing_id, :id) %>
  </div>

   <div class="field">
    <%= f.label :enemy %>
     <%= collection_select(:platformgame, :enemy, Order.all.where(seller: current_user), :listing_id, :id) %>
  </div>

   <div class="field">
    <%= f.label :levelplatform %>
     <%= collection_select(:platformgame, :levelplatform, Order.all.where(seller: current_user), :listing_id, :id) %>
  </div>

   <div class="field">
    <%= f.label :levelbackground %>
     <%= collection_select(:platformgame, :levelbackground, Order.all.where(seller: current_user), :listing_id, :id) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
