<p id="notice"><%= notice %></p>

<h1>Platformdemos</h1>

<table>
  <thead>
    <tr>
      <th>Demo</th>
      <th>User</th>
      <th>Player</th>
      <th>Coin</th>
      <th>Lava</th>
      <th>Enmey</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @platformdemos.each do |platformdemo| %>
      <tr>
        <td><%= platformdemo.Demo %></td>
        <td><%= platformdemo.user %></td>
        <td><%= platformdemo.player %></td>
        <td><%= platformdemo.coin %></td>
        <td><%= platformdemo.lava %></td>
        <td><%= platformdemo.enmey %></td>
        <td><%= link_to 'Show', platformdemo %></td>
        <td><%= link_to 'Edit', edit_platformdemo_path(platformdemo) %></td>
        <td><%= link_to 'Destroy', platformdemo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Platformdemo', new_platformdemo_path %>
