<p id="notice"><%= notice %></p>

<p>
  <strong>Demo:</strong>
  <%= @platformdemo.Demo %>
</p>

<p>
  <strong>User:</strong>
  <%= @platformdemo.user %>
</p>

<% if current_user == @platformdemo.user %>
<%= render 'platformgamedemo' %>
<% end %>

<p>
  <strong>Player:</strong>
  <%= @platformdemo.player %>
</p>

<p>
  <strong>Coin:</strong>
  <%= @platformdemo.coin %>
</p>

<p>
  <strong>Lava:</strong>
  <%= @platformdemo.lava %>
</p>

<p>
  <strong>Enmey:</strong>
  <%= @platformdemo.enmey %>
</p>

<%= link_to 'Edit', edit_platformdemo_path(@platformdemo) %> |
<%= link_to 'Back', platformdemos_path %>
