  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Click Here To Buy Graphics</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Privacy Info <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "My Website Info", pages_about_path %></li>
            <li><%= link_to "My Contact Info", pages_contact_path %></li>
            <li><%= link_to "My Privacy-Policy Docx", "https://s3-us-west-2.amazonaws.com/mbdappbucket/termsfeed-privacy-policy-docx-english.docx" %></li>
            <li><%= link_to "My Privacy-Policy PDF", "https://s3-us-west-2.amazonaws.com/mbdappbucket/termsfeed-privacy-policy-pdf-english.pdf" %></li>
            <li><%= link_to "My Privacy-Policy Txt", "https://s3-us-west-2.amazonaws.com/mbdappbucket/termsfeed-privacy-policy-text-english.txt" %></li>
          </ul>
        </li>

      <ul class="nav navbar-nav navbar-right">
       <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit And/Or Delete Your Graphics And See Your List of Bought And Sold Graphics <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit/Delete Your Work", seller_path %></li>
            <li><%= link_to "Sales History", sales_path %></li>
            <li><%= link_to "Purchase History", purchases_path %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Make A Game <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Make A Tic Tac Toe Game", tictactoegames_path %></li>
            <li><%= link_to "Make A Space Shooter Game", spaceshootergames_path %></li>
            <li><%= link_to "Make A Mario/Sonic Like Game", platformgames_path %></li>
          </ul>
        </li>

         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Talk To Other Users <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "View Message Board", inbox_conversations_path %></li>   
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign Out Of Your <%= current_user.name %> Account <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
      <% end %>
      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=945831498925242&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-share-button" data-href="http://aarongeoffreygrantetsydemoapp.herokuapp.com/" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Faarongeoffreygrantetsydemoapp.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>